# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Build outputs
frontend/dist/
backend/static/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
containerapp-config.yaml

# Other
OLD/
backend/logs/
.gitignore